<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max.incomestatement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalletActivity"
            android:label="WalletActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Setting"
            android:label="Setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FormAddBankActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditWalletActivity"
            android:label="Add A Wallet"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditTransaction"
            android:label="Transaction"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Category"
            android:label="Category"
            android:parentActivityName=".Setting" />
        <activity
            android:name=".Transaction"
            android:label="Transaction"
            android:parentActivityName=".Setting" />
        <activity android:name=".EditCategory"
            android:label="Edit Category"
            android:parentActivityName=".Category"
            ></activity>

        <provider
            android:name=".data.WalletProvider"
            android:authorities="com.max.incomestatement.wallets"
            android:exported="false" />
        <provider
            android:name=".data.CategoryProvider"
            android:authorities="com.max.incomestatement.categories" />
        <provider
            android:name=".data.TransactionProvider"
            android:authorities="com.max.incomestatement.transactions" />


    </application>

</manifest>